.notificationLeft{
    z-index: 200;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 20px;
    animation: Slideleft 0.5s;
    animation-fill-mode: forwards;
    width: 300px;

}

@keyframes Slideleft {
    0%{
        margin-left: -120%;
    }
    100%{
        margin-left: 2%;
    }
}
@keyframes SlideRight {
    0%{
        margin-left: 0%;
    }
    100%{
        margin-left: 120%;
    }
}

.leftBtn{
    position:absolute;
    cursor: pointer;
    font-size: 20px;
    top: -20px;
    right: 15px;
    color: red;
}

.leftMesage{
    margin: 0;
    font-size: 20px;
    padding: 10px;
}

.leftBar{
    height: 15px;
   
}

.notificationLeft.info .bar {
   
    background-color: blue;
}
.notificationLeft.success .bar {

    background-color:green;
}
.notificationLeft.warning .bar {

    background-color:orange;
}

.notificationLeft.error .bar {
   
    background-color: red;
}

.notificationLeft.exit{
    animation: Slideleft 0.5s;
    animation-fill-mode: forwards;
    }