.notificationBotton{
    z-index: 1;
    background-color: #fff;
    border-radius: 15px;
    overflow: hidden;
    margin-bottom: 20px;
    animation: SlideBoton 0.5s;
    animation-fill-mode: both;
    width: 300px;


}

@keyframes SlideBoton {
    0%{
        margin-bottom: -10%;
    }
    100%{
        margin-top:120%;
    }
}
@keyframes SlideTop {
    0%{
        margin-bottom: 120%;
    }
    100%{
        margin-top: -10%;
    }
}

.bottonBtn{
    position:absolute;
    cursor: pointer;
    font-size: 20px;
    top: -20px;
    right: 15px;
    color: red;
}

.bottonMesage{
    margin: 0;
    font-size: 20px;
    padding: 10px;
}

.bottonBar{
    height: 15px;
   
}

.notificationBotton.info .bar {
   
    background-color: blue;
}
.notificationBotton.success .bar {

    background-color:green;
}
.notificationBotton.warning .bar {

    background-color:orange;
}

.notificationBotton.error .bar {
   
    background-color: red;
}

.notificationBotton.exit{
    animation: SlideTop 0.5s;
    animation-fill-mode: both;
    }